

nav
{
	display: block;
	width: 1000px;
	background-color: gray;
	margin: 0 auto;
	margin-top: 100px;
}

nav ul li
{
	float: left;
	position: relative;
	background-color: yellow;
}

nav ul li a 
{
		display: block;
		width: 250px;
		height: 50px;
		text-align: center;
		line-height: 50px;
}

nav ul li a:hover
{
	background-color: #00cc00;
	color: #FFF;
}
nav ul li ul
{
	position: absolute;
	display: none;
	width:  250px;
	text-align: center;
	z-index: 1;
}

nav ul li:hover ul
{
	display: block;
}





section, article {
	text-align: center;
}

section
{
	margin-left: 100px;
	margin-right: 100px;
}
/*歡迎/介紹文字*/
.resume {
	padding:120px 0; /*為區塊設定上下預留的padding 內編劇上下設定為120 */
	text-align:center; /*區塊內所有文字皆置中*/
}
.resume h1 {
	font-size:40px;
	line-height:100px;
	color:#2b9be7;
	text-shadow:2px 2px #ccc; /*文字陰影*/
}
.resume p {
	font-size:14px;
	color:#999;
	margin-left: 200px;
	padding-right: 200px;
}

.resume
{
	background-color: #DDDDDD;
}

.aboutme
{
	background-color: blue;
	text-align: left;
}

.aboutme h1
{
	font-size:20px;
	text-align:center;
	color:#ccc;
}
.aboutme p
{
	font-size:14px;
	margin-left : 100px; 
	margin-right : 100px; 
	text-indent : -4em ;
	text-align: left
}

.mydata
{
	background-color: green;
}
.workpass
{
	background-color: orange;
}
.workcontent
{
	background-color: gray;
}
.skill
{
	background-color: red;
}
.language
{
	background-color: yellow;
}
.hobby
{
	background-color:#CCEEBB;
}




/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

ul.labeled-icons {
			list-style: none;
			padding: 0;
		}

			ul.labeled-icons li {
				line-height: 1.75em;
				margin: 1.5em 0 0 0;
				padding-left: 2.25em;
				position: relative;
			}

				ul.labeled-icons li:first-child {
					margin-top: 0;
				}

				ul.labeled-icons li a {
					color: inherit;
				}

				ul.labeled-icons li h3 {
					color: #b2b2b2;
					left: 0;
					position: absolute;
					text-align: center;
					top: 0;
					width: 1em;
				}